.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: block;
  padding: 1rem;
  min-height: 5%;
}

main {
  display: grid;
  grid-template-columns: 20% 1fr;
  flex: 1;
  border-top: 1px solid var(--primary-a10);
}
