.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

header {
  display: block;
  background-color: red;
  padding: 1rem;
  font-size: 1.25rem;
}

main {
  display: grid;
  grid-template-columns: 30% 1fr;
  flex: 1;
}

footer {
  display: block;
  background-color: red;
  padding: 1rem;
  font-size: 1.25rem;
}
